body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.top_container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: Garamond, serif;
}
h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;   
}

.student{
    text-decoration:underline;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.bottomcloud {
    position: absolute;
    left: 250px;
    bottom: 220x;
}
.upper-cloud{
    
        position: absolute;
        right: 300px;
        top: 40px;
    }
.my-picture{
    width:300px;
    height:300px;
    border-radius:50%;
}
.profile{
    margin-top:100px;
}
.intro{
    width:30%;
    margin:auto;
}
hr{
    border: dotted #034d6d 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background-color: #11cdd4;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    transition: all 0.3s;
    text-transform:uppercase;

}

.btn:hover{
    transform: scale(1.15);
}

.bottom-container{
    height:100px;
    width:100%;
    margin-top:30px;
    background-color:#66bfbf;
}
